@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;1,400&family=Work+Sans:wght@300&display=swap');

body{
    margin: 0;

    color: #fff;
    background-color: #000;

}


/* header */
.header {
    padding-top: 30px;
    width: 100%;
}

.header__logo {
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    font-weight: lighter;

    color: #fff;
}

.header__inner{
    display: flex;
    justify-content: space-around ;
    align-items: center;
}

/* линия под hover */
.line{
    margin-top: 5px;
    width: 100%;
    height: 1px;

    background-color: #fff;
}

/*nav*/
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .2s linear;
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;

    background-color: #a00000;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .2s linear;
} 

.nav__link:hover {
    color: #e00707;
}

.nav__link:hover::after {
    opacity: 1;
}

/* ссылки */
a{
    text-decoration: none;
    color: #ffffff; 
    transition:.2s
}

a:hover{
    color:rgb(161, 3, 3);
}

/* кнопка назад */
.back{
    margin: 40px 0 0 10%;
    position: absolute;
}

/* кнопка выкл\вкл */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 18px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    border-radius: 50px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #000;
  }
  
  input:focus + .slider {
  
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
  
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }

/* main */
main{
    min-height: 500px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.contetn{
    display: inline-block;
    width: auto;
    height: auto;

    background-image: url(" ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.plorem{
    padding: 20px 50px 50px 50px;

}
/* footer */
footer{
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
}

/* название logo */
.footer_logo{
    display: flex;
    align-items: center;
    font-size: 18px;
}


.footer_nav{
    display: flex;
    justify-content: space-around ;

    font-size: small;
}

.footer_table1{
   margin-left: 25px; 
}  

.line_text{
    display: flex;
    align-items: center;
}

.footer_icon{
    width: 20px;
    opacity: 0;
}

/* низ footer */
.podval{
    font-size: 1px;
    margin-left: 10%;
}


.icon{
    margin-right: 20px;
    transition: 0.5s;
}

.icon:hover{
    opacity: 0.8;
}
